@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Admin view</h1>

<a class="nav-link text-dark" asp-area="Admin" asp-controller="Tests" asp-action="Create">Create test</a>
<a class="nav-link text-dark" asp-area="Admin" asp-controller="Questions" asp-action="Create">Create questions</a>
<a class="nav-link text-dark" asp-area="Admin" asp-controller="Answers" asp-action="Create">Create answers</a>
