@model IEnumerable<TestServiceModel>


<a asp-controller="Tests" asp-action="Create" class="btn btn-success float-right ml-3 mb-3">Create Test</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
            <tr>
                <td scope="col">@test.Name</td>


                <td scope="col">
                    @*<a asp-controller="Reports" asp-action="Delete" asp-route-id="@report.Id" class="btn btn-danger float-right ml-3">Delete</a>*@
                    <a asp-controller="Tests" asp-action="Details" asp-route-id=@test.Id class="btn btn-primary float-right ml-3">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>