@model IEnumerable<TestServiceModel>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
            <th scope="col">Grade</th>
            @*<th scope="col"></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
            <tr>
                <td scope="col">@test.Name</td>
                <td scope="col">@test.Points</td>
                <td scope="col">@test.Grade</td>

                @*<td scope="col">
                    <a asp-controller="Tests" asp-action="Details" asp-route-id=@test.Id class="btn btn-primary float-right ml-3">Details</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>